
server:
  port: 8092

spring:
  application:
    name: card-payment-service
  datasource:
    url: jdbc:mysql://localhost:3306/card-payment-service?useSSL=false&createDatabaseIfNotExist=true&useUnicode=true&characterEncoding=UTF-8
    username: root
    password: admin
  jpa:
    hibernate:
      ddl-auto: update

eureka:
  instance:
    instance-id: ${spring.application.name}:${random.int}
    leaseRenewalIntervalInSeconds: 1
    leaseExpirationDurationInSeconds: 2
  client:
    serviceUrl:
      defaultZone: http://127.0.0.1:8761/eureka/
    healthcheck:
      enabled: true
    register-with-eureka: true
    fetch-registry: true
    lease:
      duration: 5

bank-uris:
  bank1: http://localhost:8001/api
  bank2: http://localhost:8002/api