server:
  port: 8090

spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      routes:
        # payment-service-provider
        - id: payment-service-provider
          uri: lb://payment-service-provider
          predicates:
            - Path=/api/payment-service-provider/**
        # card-payment-service
        - id: card-payment-service
          uri: lb://card-payment-service
          predicates:
            - Path=/api/card-payment-service/**

eureka:
  instance:
    instance-id: ${spring.application.name}
    leaseRenewalIntervalInSeconds: 1
    leaseExpirationDurationInSeconds: 2
  client:
    serviceUrl:
      defaultZone: http://127.0.0.1:8761/eureka/
    healthcheck:
      enabled: true
    register-with-eureka: true
    fetch-registry: true
